    .button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    &--primary {
        color: #fff;
        background-color: #000;
    }

    @media (max-width: 640px) {
        display: flex;
        width: 100%;
        align-items: center;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}
