.event {
    padding: 80px 0;
    background: linear-gradient(#0a0020, #241d63);

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    &__text {
        max-width: 500px;

        &__title {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 16px;
        }

        &__description {
            font-size: 18px;
            line-height: 1.5;
            opacity: 0.9;
        }
    }

    &__image {
        width: 450px;
        border-radius: 12px;
        object-fit: cover;
    }

    @media (max-width: 768px) {
    .event__content {
        flex-direction: column;
        text-align: center;
    }

    .event__image {
        width: 100%;
        max-width: 350px;
    }
}

}
